.leaflet-toolbar .leaflet-control-draw-polygon {
  background-position: -31px -2px;
}

.leaflet-control-draw-polygon {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.leaflet-control-draw-polygon a {
  display: block;
  text-align: center;
  text-decoration: none;
  width: 22px;
  height: 22px;
  display: block;
  text-align: center;
  color: #ccc;
  text-decoration: none;
  font: bold 16px/22px Arial,Helvetica,sans-serif;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.leaflet-control-draw-polygon > .leaflet-control-draw-polygon-enabled {
  border-color: #285E8E;
  background-color: #3071A9;
  color: #FFF;
}
.leaflet-control-draw-polygon > .leaflet-control-draw-polygon-disabled {
  background-color: #FFF;
  border-color: #000;
  color: #000;
}
